@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500;700&display=swap');

/* common */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', sans-serif;

    background-color: #f6f8f9;
}

/* utilities */
.container{
    padding: .8rem 3rem;
}

.button {
    font-size: 1rem;
    border: 0;
    border-radius: .4rem;
    padding: .5rem 1rem;
    border: .1rem solid;
}

.bg-transparent {
    background-color: transparent;
}

.bg-blue {
    background-color: #00aef0;
}

.bg-purple {
    background-color: #a470eb;
}

.bg-green {
    background-color: #36c3a8;
}

.bg-orange {
    background-color: #ff9900;
}

.bg-pink {
    background-color: #e95aa3;
}

.bg-lightgreen {
    background-color: #aaca00;
}

.border-grey {
    border-color: #d0d6da;
}

.border-blue {
    border-color: #00aef0;   
}

.green {
    border-color: #52cab4;
    color: #52cab4;

    padding: 0 .25rem 0;
}

.red {
    border-color: #ff7472;
    color: #ff7472;

    padding: 0 .35rem 0;
}

.text-white {
    color: #ffffff;
}

.text-grey {
    color: #d0d6da;
}

.task-list {
    line-height: 3rem;
}

.task {
    list-style: none;
}

.circle {
    border-radius: 50%;
    border: .1rem solid;
    
    margin-right: .5rem;

    vertical-align: bottom;
}

.arrow {
    vertical-align: sub;
    list-style: none;
    font-size: .8rem;
}

.title {
    font-size: 1.5rem;
    line-height: 3rem;

    color: #3e434d;
}

.text {
    font-size: 1rem;
    line-height: 3rem;

    color: #3e434d;
}

.tag {
    font-size: .8rem;
    padding: .4rem .6rem;
    border-radius: .8rem;
}

.hidden {
    display: none;
}
/* main */
#app-header {
    background-color: #ffffff;
}

#app-main {
    width: 70%;

    background-color: #ffffff;

    margin: 4rem auto;
}

.logo {
    padding: .5rem 0 .5rem 1.5rem;
}

.logo-img {
    width: 60px;
}

.logo-text {
    font-size: 2.6rem;
    vertical-align: top;
}

hr {
    border-style: solid;
    border: 0 0 0 .1rem;
    border-color: #f9fafb;
}

.footer {
    margin: auto;
    padding: 2rem 0 2rem;

    text-align: center;

    background-color: #ffffff;
}

.arrow li {
    padding-left: 0;
}